@import "./variables/global";
@import "reset";
@import "./themes/light";
@import "./themes/dark";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.content {
    display: flex;
}

.wrapper {
    padding: 20px;
    flex: 1 1 auto;
}
