@import "./variables/global";
@import "reset";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}

.app_redesigned {
    background: var(--bg-color-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-color);
}

.content {
    display: flex;
}

.appLoader {
    position: absolute;
    top: 50%;
    left: 50%;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--bg-color);
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--inverted-bg-color);
}
