.loginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.loginForm > input {
    margin-bottom: 10px;
}

.loginForm > input:last-child {
    margin-bottom: 0;
}

.loginBtn {
    margin-left: auto;
}
