.formWrapper {
    width: 320px;
    height: 200px;
    margin: auto;
}

.loginForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.loginBtn {
    margin-left: auto;
    max-height: 38px;
}
