.ArticleDetails {
    width: 100%;
}

.header {
    margin-bottom: 15px;
}

.avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.articleInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.error {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.block {
    margin-bottom: 15px;
}
