.Sidebar {
    width: var(--sidebar-width-redesigned);
    background: var(--light-bg-color);
    min-height: 100%;
    border-radius: 32px;
}

.linksWrapper {
    margin-top: 40px;
}

.appLogo {
    margin: 0 auto;
    padding-top: 20px;
}
