.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.2s;
}

.menu {
    display: flex;
    margin: 20px 0 0 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;

    .icon {
        width: 25px;
        height: 25px;
        fill: var(--inverted-primary-color);
    }
}

.switchers {
    // Переписать на flex-direction: column
    position: absolute;
    display: flex;
    bottom: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        gap: 10px;
    }

    .link {
        span {
            display: none;
        }
    }
}

.lngBtn {
    background-color: red;
}

.collapsedBtn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}
