.createdAt {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.container {
    width: 230px;
    margin-bottom: 8px;
    margin-right: 8px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.01);
        opacity: 0.8;

        .createdAt {
            display: block;
        }
    }
}

.imageWrapper {
    position: relative;
}

.image {
    width: 200px;
    height: 200px;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.types h3 {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.views {
    display: flex;
    align-items: center;
    gap: 5px;
}
