.articleFilters {
    margin-bottom: 20px;
    width: 100%;
}

.sortWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.inputWrapper {
    padding: 5px;
    margin-bottom: 10px;
}

.input {
    width: 100%;
}
