.input {
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: var(--inverted-bg-color);
    color: var(--bg-color);

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        appearance: none;
    }

    &[type="number"] {
        appearance: textfield;
    }
}

.input::placeholder {
    color: var(--bg-color);
}

.readOnly {
    opacity: 0.7;
}
