.container {
    margin: 10px 0;
    border: 1px solid var(--inverted-bg-color);
    padding: 10px;
    border-radius: 15px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
}
