.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100%;
}

.status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.saveBtn {
    margin-top: 10px;
    margin-left: auto;
}
