.container {
    height: 34px;
    max-width: 1000px;

    &.column {
        display: flex;
        flex-direction: column;
    }

    &.row {
        display: flex;
        align-items: center;
    }
}

.select {
    background-color: var(--inverted-bg-color);
    outline: none;
    color: var(--bg-color);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    appearance: none;
    padding: 0 5px;
    display: flex;
    flex: 1 1 auto;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
