.container {
    display: flex;
    flex-direction: column;
    height: 34px;
    max-width: 1000px;
}

.select {
    background-color: var(--inverted-bg-color);
    outline: none;
    color: var(--bg-color);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    appearance: none;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
