.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // redesigned
    --dark-bg-color: #fff3d6;
    --bg-color-redesigned: #f0c048;
    --light-bg-color: #f2d791;
    --text-color: #1b1311;
    --hint-color: #b8b2a2;
    --cancel-color: #ff5e5e;
    --save-color: #52fa81;
    --icon-color: #4875f0;
    --accent-color: #1d59ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --bg-card: #b4b4b7;

    // list-box
    --list-box: #b4b4b7;
}
