.stackContainer {
    padding: 40px;

    @media (max-width: 400px) {
        padding: 10px;
    }
}

.pageWrapper {
    width: 100% !important;
    padding: 0 !important;
}

.backIcon {
    transform: rotate(90deg);
}
