.container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cardWrapper {
    padding: 10px;
}

.selectedTab {
    opacity: 0.5;
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
    cursor: auto;

    &:hover {
        opacity: 0.5;
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
    }
}
