.primary {
    background-color: var(--dark-bg-color);
}

.outlined {
    border: 1px solid var(--accent-color);
}

.light {
    background-color: var(--light-bg-color);
}

.transparent {
    background-color: transparent;
}

.rounded {
    border-radius: 34px;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}
