.AppLink {
    text-decoration: none;
}

.primary {
    color: var(--text-color);
}

.red {
    color: var(--cancel-color);
}

.hovered {
    &.primary {
        &:hover {
            color: var(--accent-color);
        }
    }

    &.red {
        &:hover {
            opacity: 0.8;
        }
    }
}
