.Card {
    padding: 15px;
    cursor: pointer;
    border-radius: 12px;
}

.primary {
    background-color: var(--bg-card);
}

.inverted {
    background-color: var(--inverted-bg-color);
}

.transparent {
    background-color: transparent;
}
